<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108170561-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-108170561-1');
    </script>

    <meta charset="UTF-8"> {% seo %}
    <!-- <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"
/> -->
    <meta name="decritption" content="The 5 A`s - Project" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>
    <section class="page-header">
        <!-- HAVE TO USE .SVG IMAGE HERE BECAUSE .TTF FONT IS NOT PROPERLY DISPLAYED -->
        <!-- <h1 class="project-name burn">The 5 A`s</h1> -->
        <!-- <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1> -->
        <!-- <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2> -->

        <!-- <img class="titleimg" src="/assets/images/titlefont.svg" /> -->
        <img class="titleimg" src="/expDementia/assets/images/titlefont.png" />

        <div class="downloads ">
            <a href="/expDementia/The5As_WebGL/index.html" class="btn" target="_blank">Start Demo</a>
            <!-- <a href="/expDementia/The5As_WIN.zip " class="btn " target="_blank ">WIN Version</a> -->
            <!-- <a href="https://drive.google.com/drive/folders/131_F9IWGOj7II5IWYfV9494zEUTEClTo" class="btn " target="_blank ">WIN Version</a> -->
            <!-- File -->
            <!-- <a href="https://drive.google.com/open?id=1SXDMoUEcc0AvmbvR_ykEvKbpaTR8-t4D" class="btn " target="_blank ">MAC Version</a> -->
            <!-- Folder -->
            <!-- <a href="https://drive.google.com/open?id=1vguGBemyCVYUkWsqMTvw-ggiPEKr1wVj" class="btn " target="_blank ">MAC Version</a> -->
        </div>
    </section>

    <section class="main-content ">
        {{ content }}

        <h4>Video</h4>
        <video controls>
            <source src="/expDementia/assets/videos/The5As.mp4" type="video/mp4"> Your browser does not support HTML5 video.
        </video>

        <h4>Poster</h4>
        <!-- <embed src="/expDementia/assets/documents/The5As_medconPoster.pdf" type="application/pdf" width="100%" /> -->
        <object data="/expDementia/assets/documents/The5As_medconPoster.pdf" type="application/pdf" width="100%" height="400px">
            <p>
                <b>Embeded PDFs are not supported with this browser!
                    <a href="/expDementia/assets/documents/The5As_medconPoster.pdf">Download PDF</a>
            </p>
        </object>

        <footer class="site-footer ">

            <span class="site-footer-credits">Title font: Burn out, fade away from
                <a href="https://www.dafont.com/de/junkohanhero.d1293" target="_blank">junkohanhero</a>. </span>
            <br/>
            <span class="site-footer-credits">Logo (unedited version): child-head by
                <a href="https://www.colourbox.com/supplier/anastasiya-8974" target="_blank">anastasiya-8974</a>. </span>
            <br/>
            <br/>
            <span class="site-footer-credits">This page was generated by
                <a href="https://pages.github.com ">GitHub Pages</a>.</span>
            <br/>
        </footer>
    </section>

    <!-- {% if site.google_analytics %}
    <script type="text/javascript ">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script> {% endif %} -->
</body>

</html>